section, header {
  max-width: 550px;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-bottom: 5px;
  box-shadow: 10px 10px 100px #888888;
  background-color: beige;


}

pre {
  background-color: #2C2C2C;
  overflow: auto;
  padding: 5px;
  color: #8DF866;
}

h1 {

}