<!doctype html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta charset="utf-8">

    <title>{{page.title}}</title>
    <link rel="stylesheet" href="stylesheets/simple.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>
      <header>
        <h1>{{page.projectname}}</h1>
        <p>{{page.projectdesc}}</p>
      </header>

      <section>
{{content}}
      </section>
  </body>
</html>
